<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSBJOD8ro5G1RHs741rPS476FHHuv5wTE</string>
	<key>GCM_SENDER_ID</key>
	<string>555448633770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aisha.recipeplanner</string>
	<key>PROJECT_ID</key>
	<string>recipeplanner2</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeplanner2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555448633770:ios:33440d4fb401d16922c3d3</string>
</dict>
</plist>